body {
  margin: 0;
  padding: 0;
  background: #FFF3B6 url("../img/scrabbleLogo.png");
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
  font-weight: 900;
  font-size: 60px;
}

.nav li a {
  font-size: 16px;
  font-weight: bold;
}

ul.nav {
  margin-left: 50px;
  border: none;
}

.nav li a {
  color: #000;
  animation-name: colorFlash;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

/*MAKE INACTIVE TABS FLASH*/
@keyframes colorFlash {
  0% {color: #000;}
  50% {color: #FFF;}
  100% {color: #000;}
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #E8DDBB;
}

.rules {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 200px;
}


h3 {
  font-size: 24px;
  padding: 0 0 0 10px;
  text-decoration: underline;
  font-weight: 900;
}

h5 {
  font-size: 18px;
  margin-left: 10px;
  padding-top: 10px;
}

p, ol li{
  font-size: 16px;
}

#credits p {
  margin-left: 10px;
}

#credits li {
  position: relative;
  list-style-type: none;
  font-size: 16px;
  line-height:200%;
  padding-left: 35px;
  background-image:url("../img/githubIcon.png");
  background-repeat:no-repeat;
  background-position:left center;
}

#about, #play, #credits {
  background-color: rgba(232, 221, 187, .9);
  border: 3px solid #E8DDBB;
  height: 960px;
  width: 1080px;
  margin: 0 auto;
}

/*GAME BOARD TAB*/

.game-board {
  margin: -3px 0 0 16px;
  padding: 0;
  float: left;
  background-size: fill;
}

.scrabbleBG {
  margin: 0 0 15px;
  padding: 0;
  background: url("../img/board-bckgrnd.png");
  width: 750px;
  height: 750px;
  float: left;
}

.row {
  padding: 0;
}

.cell {
  width: 50px;
  height: 50px;
  padding: 0;
}

#tileBag {
  float: right;
  cursor: pointer;
  height: 300px;
  width: 300px;
}

/*#tileBag h4 {
  padding: 0;
  text-align: center;
  animation-name: colorFlash;
  animation-duration: 3s;
  animation-iteration-count: infinite;*/
}

#tileBag img {
  margin-top: -50px;
}

.subscript {
  font-size: 20px;
}

.btn {
  border-radius: 10px;
  width: 75px;
  color: #ffffff;
  background-color: #003aff;
  text-align: center;
  float: right;
}

.start {
  margin-top: 20px;
  float: right;
}

#playerNumbers {
  margin-top: 20px;
  margin-right: 20px;
  line-height: 20px;
  text-align: right;
  float: right;
}

#playerNumbers button {
  border-radius: 10px;
  width: 60px;
  color: #ffffff;
  background-color: #003aff;
}

/*PLAYER RACKS*/
#playerButtons button {
  border-radius: 10px;
  width: 60px;
  color: #ffffff;
  background-color: #003aff;
  margin: 150px 0px 0px 5px;
  float: right;
  margin-right: 20px;
}

#playerOneRack {
  clear: left;
  display: visible;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  padding: 3px;
  width: 460px;
  height: 61px;
  background: url("../img/rack.png") no-repeat;
}

#playerOneRack div {
  display: inline-block;
  width: 48px;
  height: 48px;
  text-align: center;
}

#playerOneRack .cell {
  border: 1px solid #000;
}

#playerTwoRack {
  display: none;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 460px;
  height: 61px;
  background: url("../img/rack.png") no-repeat;
}

#playerThreeRack {
  display: none;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 460px;
  height: 61px;
  background: url("../img/rack.png");
}

#playerFourRack {
  display: none;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 460px;
  height: 61px;
  background: url("../img/rack.png");
}

.tile {
  width: 48px;
  height: 48px;
  cursor: move;
  font-size: 36px;
  text-align: center;
  font-weight: 900;
  background-image: url(../img/traditional-tile.png);
}

.tile.ui-draggable-dragging {
  box-shadow: 10px 10px 5px #888;
}
